#entrance {
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;

    h1 {
        margin: 0px;
        margin-bottom: 20px;
        text-align: center;
    }

    img {
        margin: 0 auto;
        display: block;
        width: 15%;
    }  
}
